main {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 50px;

  margin: 0;
}

.topMenuContainer {
  border-bottom: 1px solid black;
  background: white;
}
.topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  margin: 0;
}

.topMenuList {
  list-style-type: none;
}

.headerCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  background-color: #332d77;
}

.card {
  width: 100%;
  margin-left: 10%;
  display: flex;

  justify-content: center;
}

.card-title {
  width: 60%;
  font-size: 14px;
  color: white;
}

@media (max-width: 600px) {
  main {
    position: relative;
    width: 600px;
  }

  .topMenuContainer {
    display: none;
  }
}
