.slider {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: -1;
}

.sliderContainer {
	position: relative;
	height: 80vh;
	width: 100vw;
	overflow: hidden;
	margin-top: 130px;
}

.info-container {
	background-color: #332d77;
	display: flex;
	justify-content: center;
	width: 100vw;
}

.info-text {
	color: white;
	text-align: justify;
	width: 70%;
	padding: 10px;
	font-size: 18px;
	line-height: 25px;
}
